<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <!--  Зависимости Bootstrap-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.2.3/dist/cerulean/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
    <title>Объявления</title>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/posts"><i class="bi bi-taxi-front-fill"></i> Авто</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="/posts"><i class="bi bi-house-door"></i>
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>
                </ul>
                <form class="d-flex px-3" th:action="@{/create}" method="get">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Разместить объявление</button>
                </form>
                <form class="d-flex">
                    <input class="form-control me-sm-2" type="search" placeholder="Поиск">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Найти</button>
                </form>
            </div>
        </div>
    </nav>

    <section class="main-content">
        <div class="container p-3">
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <div class="card">
                        <img src="..." class="card-img-top" alt="Ваше фото">
                        <div class="card-body">
                            <h4><a href="#">Название</a> </h4>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><i class="bi bi-fuel-pump-fill"></i> Бензин</li>
                            <li class="list-group-item"><i class="bi bi-universal-access"></i> Антон</li>
                            <li class="list-group-item"><i class="bi bi-currency-dollar"></i>500 <i class="bi bi-p-circle-fill"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</html>